[Desktop Entry]
Name=Shape of Dreams
Comment=Play this game on Steam
Exec=steam steam://rungameid/2444750
Icon=steam_icon_2444750
Terminal=false
Type=Application
Categories=Game;
