[Desktop Entry]
Name=Spotify: Previous
Exec=playerctl --player=spotify previous
Icon=media-skip-backward
Terminal=false
Type=Application
Categories=Utility;

