[Desktop Entry]
Name=Spotify: Play/Pause
Exec=playerctl --player=spotify play-pause
Icon=media-playback-start
Terminal=false
Type=Application
Categories=Utility;

